version: "2"
services:
  nginx:
    image: nginx:latest
    container_name: ng01
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
      - ./config/nginx:/etc/nginx/conf.d
      - /static:/static  <--- HERE
    depends_on:
      - web
    networks:
      - djangonetwork
  web:
    build: .
    container_name: dg01
    command: bash -c "python manage.py makemigrations && python manage.py migrate && gunicorn my_django.wsgi -b 0.0.0.0:8000"
    depends_on:
      - db
    volumes:
      - ./src:/src
    expose:
      - "8000"
    env_file:
      - ./.envs/.django
    networks:
      - djangonetwork
  db:
    image: postgres:latest
    container_name: ps01
    env_file:
      - ./.envs/.postgres
    networks:
      - djangonetwork
networks:
  djangonetwork:
    driver: bridge
