<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Spotify-Grinder</title>
    {% load static %}
    {% load staticfiles %}
    <script src="{% static 'JavaScript/base.js' %}"></script>
    <link rel="icon" type="image/png" href="static/Images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href='static/CSS/styles.css'>

  </head>
  <body>
    <div class="bgimg">
     <div class="topleft">
       <h2 class="logo" >logo here </h2>
       <b><p style="font-size:80%;">Spotify-Grinder</b></p>
     </div>
     <div class="middle">
       <h1>COMING SOON</h1>
       <hr>
       <!--just providing an id for the js file to run-->
      <p id="demo" style="font-size:30px"></p>
     </div>
     <div class="bottomleft">
       <p>Spotify-Grinder we are doing our best </p>
     </div>
    </div>

  </body>
</html>
